//Style.scss

// imports
@import "compass","reset","typography", "mixins", "header";


html,body {
height:100%;
}

@mixin fullScreenSize {
  min-height:100%;
}


#section1 {
  @include fullScreenSize;
  background:yellow;   //testing
}

#section2 {
  @include fullScreenSize;
background:#00F;   //testing
}

#section3 {
  @include fullScreenSize;
background:#0F0;   //testing
}

h1, h2, h3 {
  // background-color: grey;   //testing
}
